* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  position: fixed;
  width: 300px;
  bottom: 0;
  left: 20vw;
  z-index: 999;
}
