<div class="row" style="height: 50px;">
  <div class="col align-self-center">
    <h4 style="cursor: pointer; width: 40px;" class="mb-0 ml-4 text-center">
      DB
    </h4>
  </div>
  <div
    class="col d-flex mr-4 mt-2 align-items-center justify-content-end"
    id="navButtons"
  >
    <!-- <a style="cursor: pointer;">
      Say Hello
    </a> -->
    <button class="btn btn-outline-dark" style="height: 35px;">Skills</button>
    <button class="btn btn-outline-dark mx-2" style="height: 35px;">
      Projects
    </button>
    <button class="btn btn-outline-dark" style="height: 35px;">
      Contact
    </button>
  </div>
</div>
