<div class="links-container mx-auto">
  <div class="row" style="width: 100%;">
    <div class="col-12 text-center mb-2">
      <a class="link" href="mailto:daniel.berger95@gmail.com"
        >daniel.berger95@gmail.com</a
      >
    </div>
    <div class="col-12 text-center mb-1">
      <a class="link" href="tel:678-749-4697">678-749-4697</a>
    </div>
    <div class="col-6 text-right">
      <a class="link" href="https://github.com/danielstevenberger"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
    </div>
    <div class="col-6 text-left">
      <a class="link" href="https://www.linkedin.com/in/danielstevenberger/"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>
    <div class="col-12 text-center mt-1">
      <a class="link" href="http://www.pablosikosia.com/"
        >
        Profile picture by Pablo Sikosa</a>
    </div>
  </div>

</div>
<img src="/assets/img/coral-bottom.png" alt="" style="width: 100vw;">

