.link {
  color: white;
  font-size: 20px;
}

.link:hover {
  text-decoration: none;
}

.links-container {
  height: 30vh;
  width: 500px;
}

@media (max-width: 768px){
  .links-container {
    height: 30vh;
    width: 300px;
  }
}
