.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
  font-size: 30px;
  color: #fff;
}

.nav-link {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.nav-link,
.nav-link:hover,
.nav-link:focus{
  color: #fff !important;
  /* text-decoration: none !important; */
}

.nav-link::after {
  content: "" !important;
  position: absolute !important;
}

.box-e {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.box-e .nav-link::after {
  top: 80%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: #fff;
  transition: 0.3s ease;
}

.box-e:hover .nav-link::after {
  width: 90%;
  transition: 0.3s ease;
}

.box-e.active .nav-link::after {
  width: 90%;

}
