.say-hello-container{
  padding: 60px 10px 60px 10px;
  margin: auto;
  width: 700px;
  background: white;
  border-radius: 20px;
}

form{
  width: 600px;
}

.btn{
  color: #6492df;
  border: 1px solid #6492df;
}

.btn:hover, .btn:active{
  color: white;
  background:  #6492df !important;
  box-shadow: none !important;
}


.btn:focus, textarea:focus, input:focus{
  box-shadow: none !important;
}


@media (max-width: 768px) {
  .say-hello-container{

    width: 90%;

  }
  form{
    width: 90%;
  }}
