<div style="height: 10vh;"></div>
<div class="say-hello-container" data-aos="zoom-in" data-aos-once="true">
    <h1 class="text-center mb-4">Say Hello</h1>
    <form  class="mx-auto" [formGroup]="sendEmailForm" (ngSubmit)="sendMail()">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <label for="name">Name</label>
          <input
            formControlName="name"
            class="form-control form-control-lg"
            type="text"
            id="name"
            [class.is-invalid]="
              !sendEmailForm.get('name').valid &&
              sendEmailForm.get('name').touched
            "
          />
          <div
            *ngIf="
              !sendEmailForm.get('name').valid &&
              sendEmailForm.get('name').touched
            "
            class="invalid-feedback"
          >
            Please enter your name.
          </div>
        </div>
        <div class="form-group col-12 col-sm-6">
          <label for="email">Email</label>
          <input
            formControlName="email"
            class="form-control form-control-lg"
            type="email"
            id="email"
            [class.is-invalid]="
              !sendEmailForm.get('email').valid &&
              sendEmailForm.get('email').touched
            "
          />

          <div
            *ngIf="
              !sendEmailForm.get('email').valid &&
              sendEmailForm.get('email').touched
            "
            class="invalid-feedback"
          >
            Please enter a valid email.
          </div>
        </div>
      </div>
      <label for="message">Message</label>
      <textarea
        formControlName="message"
        class="form-control form-control-lg"
        id="message"
        rows="5"
        [class.is-invalid]="
          !sendEmailForm.get('message').valid &&
          sendEmailForm.get('message').touched
        "
      ></textarea>
      <div
        *ngIf="
          !sendEmailForm.get('message').valid &&
          sendEmailForm.get('message').touched
        "
        class="invalid-feedback"
      >
        Please enter your message.
      </div>
      <div *ngIf="!loading && !emailSucess && !emailError">
      <p class="mt-4 text-center" *ngIf="!sendEmailForm.valid">
        Please fill out all of the fields
      </p>
      <p class="mt-4 text-center" *ngIf="sendEmailForm.valid">
        Ready to submit
      </p>
      <div class="d-flex justify-content-center mt-4">
        <button
          [disabled]="!sendEmailForm.valid"
          [class.disabled]="!sendEmailForm.valid"
          type="submit"
          class="btn btn-outline-primary disabled"
        >
          Submit
        </button>
      </div>
    </div>
    <div *ngIf="loading && !emailSucess" class="mt-4"><app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="emailSucess" class="alert alert-success mt-4" role="alert">
      Email has been sent. Thank you for reaching out.
      <button class="alert-close float-right" type="button" style="background:none; border: none;  outline: none;" (click)="exitAlert()">X</button>
    </div>
    <div *ngIf="emailError" class="alert alert-danger mt-4" role="alert">
      An error occured. Please try again or contact me with the links below.
      <button class="alert-close float-right" type="button" style="background:none; border: none;  outline: none;" (click)="exitAlert()">X</button>
    </div>
    </form>
  </div>

