.skills-container {
  padding: 30px 50px 20px 50px;
  margin: auto;
  width: 100%;
  background: white;
}
.skill-icon-container {
  padding-top: 60px;
}
/* .skill-icon {
  padding: 0px 40px 0px 40px;
} */
fa-icon {
  color: rgba(255, 255, 255);
  font-size: 30px;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: black !important;
  border: black 1px solid !important;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: 0.5s ease;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  transition: 1s;
  color: black !important;
  background-color: white !important;
  box-shadow: none !important;
  border: black 1px solid !important;
}

.active {
  color: black !important;
  background-color: rgba(255, 255, 255) !important;
  border: black 1px solid !important;
}

#skill-buttons{
  width: 700px;
}


.skill-title{
  font-size: 30px !important;
}

@media (max-width: 991px){
  .skill-info{
    font-size: 15px !important;
  }
  .skill-title{
    font-size: 20px !important;
  }
  #skill-buttons{
    width: 90%;
  }
}
