<div style="height: 70px;"></div>
<div class="skills-container">
  <h1 data-aos="zoom-in" data-aos-once="true" class="text-center mr-3">
    Skills
  </h1>
</div>
<div style="background-color: rgba(255, 255, 255, 0.5); padding-bottom: 60px;">
  <div class="container" style="padding-top: 80px;">
    <div class="row">
      <div class="col-6 col-lg-3 text-center">
        <fa-icon [icon]="faLightbulb"></fa-icon>
        <p class="skill-title lead">Intuitive</p>
        <p class="skill-info lead">
          I create applications where new users feel like masters.
        </p>
      </div>
      <div class="col-6 col-lg-3 text-center">
        <fa-icon [icon]="faMobileAlt"></fa-icon>
        <p class="lead skill-title">Responsive</p>
        <p class="lead skill-info">
          Users experience optimal performance on all devices.
        </p>
      </div>
      <div class="col-6 col-lg-3 text-center">
        <fa-icon [icon]="faRainbow"></fa-icon>
        <p class="lead skill-title">Creative</p>
        <p class="lead skill-info">
          User experiences are meaningful and memorable.
        </p>
      </div>
      <div class="skill-icon col-6 col-lg-3 text-center">
        <fa-icon [icon]="faMagic" style="font-size: 30px;"></fa-icon>
        <p class="lead skill-title" style="font-size: 30px;">Dyanmic</p>
        <p class="lead skill-info">
          Animations feel naturual and are interactive.
        </p>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center" style="height: 300px;">
    <ngx-charts-pie-grid
      [scheme]="scheme"
      [results]="selected"
      [animations]="animations"
      [label]="label"
      [designatedTotal]="designedTotal"
      [minWidth]="minWidth"
    >
    </ngx-charts-pie-grid>
  </div>
  <div
    id="skill-buttons"
    class="row text-center mt-4 mx-auto"
    data-aos="fade-up"
    data-aos-once="true"
  >
    <div class="col-sm-12 col-md-4 mb-3">
      <button
        class="btn btn btn-outline-primary"
        [class.active]="active == 'l'"
        (click)="onClick('l')"
      >
        Languages
      </button>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <button
        class="btn btn btn-outline-primary"
        [class.active]="active == 'f'"
        (click)="onClick('f')"
      >
        Frameowrks/Libraries
      </button>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <button
        class="btn btn btn-outline-primary"
        [class.active]="active == 'd'"
        (click)="onClick('d')"
      >
        Design/Databases
      </button>
    </div>
  </div>
</div>
