<app-header-alt></app-header-alt>
<app-header
></app-header>

<div #home>
<app-home (dive)="onDive(skills)"></app-home>
</div>
<div style="height: 15vh;"></div>
<div #showNav style="height: 15vh;"></div>
<div #skills>
  <app-skills></app-skills>
</div>
<div style="height: 15vh;"></div>
<div #projects>
  <app-projects></app-projects>
</div>
<div style="height: 15vh;"></div>
<div #contact>
  <app-say-hello></app-say-hello>
</div>
<div style="height: 15vh;"></div>
<app-wave [scrolled]="scrolled"></app-wave>
<div style="height: 15vh;"></div>
