<div [@dropdownState]="state" class="dropdown-view">
  <div class="dropdown-view-menu d-flex flex-column justify-content-between">
    <p
      style="cursor: pointer;"
      class="lead text-white text-center"
      (click)="scrollTo('home')"
    >
      Home
    </p>
    <p
      style="cursor: pointer;"
      class="lead text-white text-center"
      (click)="scrollTo('skills')"
    >
      Skills
    </p>
    <p
      style="cursor: pointer;"
      class="lead text-white text-center"
      (click)="scrollTo('projects')"
    >
      Projects
    </p>
    <p
      style="cursor: pointer;"
      class="lead text-white text-center"
      (click)="scrollTo('contact')"
    >
      Say Hello
    </p>
  </div>
</div>
