@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* @import "~aos/dist/aos.css"; */

.loading{
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

body,
.bg-dark, .dropdown-view {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background: linear-gradient(271deg, #4dcaaa, #6492df, #4dcac6);
  background-size: 600% 600%;
  -webkit-animation: body 43s ease infinite;
  -moz-animation: body 43s ease infinite;
  animation: body 43s ease infinite;
}

body::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

