#dive {
  position: relative;
  top: 75%;
  transition: all 1s ease;
}
#dive:hover {
  color: rgb(255, 255, 255) !important;
  transform: scale(1.2);
}

p{
  margin: 0;
}

.home-container {
  position: relative;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
}

.home-container-content{
  position: absolute;
  width: 100%;
  top: 10%;
  height: 50vh;
}


h1 {
  font-size: 4rem;
}
h3 {
  font-size: 1.5rem;
}
img{
  width: 200px;
}

@media( max-height: 700px){
  .home-container-content{
    top: 5% !important;
  }
  #dive{
    top: 53vh !important;
  }
  fa-icon{
    font-size: .8rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1rem !important;
  }
  img{
    width: 100px !important;
  }
  p{
    font-size: .8rem !important;
  }
}



@media (max-width: 1440px) {
  .home-container-content{
    top: 10%;
  }
  #dive{
    top: 67%;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  img{
    width: 150px;
  }
}

@media (max-width: 1000px) {
  .home-container-content{
    top: 10%;
  }
  #dive{
    top: 67%;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  img{
    width: 150px;
  }
}

@media (max-width: 600px) {
  .home-container-content{
    top: 10%;
  }
  #dive{
    top: 65%;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  img{
    width: 150px;
  }
  p{
    font-size: .8rem;
  }
  fa-icon{
    font-size: .8rem;
  }
}

@media (max-width: 374px) {
  .home-container-content{
    top: 5%;
  }
  #dive{
    top: 53vh;
  }
  fa-icon{
    font-size: .8rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  img{
    width: 100px;
  }
  p{
    font-size: .8rem;
  }
}


