#dive {
  position: relative;
  top: 60vh;
  transition: all 1s ease;
}
#dive:hover {
  color: rgb(255, 255, 255) !important;
  transform: scale(1.2);
}

#home-container {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
}

#home-container-content{
  position: absolute;
  width: 100%;
  top: 10vh;
  height: 50vh;
}


h1 {
  font-size: 4rem;
}
h3 {
  font-size: 1.5rem;
}
img{
  width: 250px;
}

@media (max-width: 1200px) {
  #home-container-content{
    top: 15vh;
  }
  #dive{
    top: 55vh;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  img{
    width: 180px;
  }
}

@media (max-width: 600px) {
  #home-container-content{
    top: 15vh;
  }
  #dive{
    top: 55vh;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  img{
    width: 150px;
  }
}

@media (max-width: 374px) {
  #home-container-content{
    top: 8vh;
  }
  #dive{
    top: 50vh;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  img{
    width: 150px;
  }
}
