<div id="home-container" class="d-flex flex-column">
  <div id="home-container-content" class="mx-auto ">
    <h1 class="display-4 text-center text-white mb-3 ">
      Devloper | Designer
    </h1>
    <h3 class="text-center text-white mb-3">Web applications that feel alive.</h3>
    <img
      id="spin"
      class="d-block mx-auto my-4"
      src="https://cdn.pixabay.com/photo/2014/03/25/15/23/man-296678_1280.png"
      alt=""
    />
  </div>
  <div
    id="dive"
    class="text-center text-white mx-auto"
    style="cursor: pointer;"
    (click)="onDive()"
  >
    <p class="lead">Dive Down</p>
    <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
  </div>
</div>
