<div class="container mt-4">
  <h1 class="text-center text-white mb-3">Daniel Berger</h1>
  <h3 class="text-center text-white mb-3">Web Developer</h3>
  <img
    class="d-block mx-auto my-4"
    src="https://cdn.pixabay.com/photo/2014/03/25/15/23/man-296678_1280.png"
    alt=""
    style="width: 130px;"
  />
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="row">
        <p class="lead text-white text-center text-md-right col-md-6 p-2">
          I don't just make things work.
        </p>
        <p class="lead text-white text-center text-md-left col-md-6 p-2">
          I make things work beautifully.
        </p>
      </div>
    </div>
  </div>
</div>
<div style="height: 100vh;"></div>
